<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-sanitize.js"></script>
    <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>JS Bin</title>

</head>


<body>

<div class="container">

    <div ng-app="mainApp" ng-controller="messageController">
        <h1>Op Chat</h1>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li role="presentation"><a data-toggle="tab" href="#importantlist">Important List</a></li>
            <li role="presentation"><a data-toggle="tab" href="#favoriteList">Favorites</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-lg-2">
                        <h2>User List</h2>
                        <table class="table table-striped">
                            <tr ng-repeat="user in userList">
                                <td ng-sanitize>{{user}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-10" style="border-left: 1px dashed blue">
                        <h2>Chat</h2>
                        <table class="table table-striped">
                            <tbody style="overflow: auto;height: 200px;">
                                <tr ng-repeat="message in messages|orderBy:'createdAt':false" ng-class="(message.isImportant == true) ? 'success' : ''" >

                                    <td ng-sanitize>

                                        <img width="50" height="50" src="https://optionsplayers.com{{message.authorAvatarUrl}}">
                                        <br>
                                        {{ message.authorName }} {{ message.id }}
                                    </td>
                                    <td valign="center" ng-bind-html="message.message"> </td>
                                    <td valign="center" >
                                        {{ message.createdSince }}
                                        <br>
                                        <img height="20px" width="20px" src="/images/star.png" data="{{message.id}}" ng-click="markFavorite(message.id, true)" ng-hide="message.is_favorite">
                                        <img height="20px" width="20px" src="/images/favoritesOn.png" data="{{message.id}}" ng-click="markFavorite(message.id, false)" ng-hide="!message.is_favorite">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="importantlist" class="tab-pane fade">
                <div class="col-lg-10">
                    <table class="table table-striped">
                        <tr ng-repeat="message in messages | filter:{isImportant: 'true'}" ng-class="(message.isImportant == true) ? 'success' : ''" >
                            <td ng-sanitize>

                                <img width="50" height="50" src="https://optionsplayers.com{{message.authorAvatarUrl}}">
                                <br>
                                {{ message.authorName }}
                            </td>
                            <td valign="center" ng-bind-html="message.message"> </td>
                            <td valign="center" >
                                {{ message.createdAt }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="favoriteList" class="tab-pane fade">
                <div class="col-lg-10">
                    <table class="table table-striped">
                        <tr ng-repeat="message in favoriteMessageList" ng-class="(message.isImportant == true) ? 'success' : ''" >
                            <td ng-sanitize>

                                <img width="50" height="50" src="https://optionsplayers.com{{message.authorAvatarUrl}}">
                                <br>
                                {{ message.authorName }}
                            </td>
                            <td valign="center" ng-bind-html="message.message"> </td>
                            <td valign="center" >
                                {{ message.createdAt }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>


</div>

<script>

    // request permission on page load
    document.addEventListener('DOMContentLoaded', function () {
        if (!Notification) {
            alert('Desktop notifications not available in your browser. Try Chromium.');
            return;
        }

        if (Notification.permission !== "granted")
            Notification.requestPermission();
    });


    var mainApp = angular.module("mainApp", ['ngSanitize']);

    mainApp.controller('messageController',['$scope', '$http', function($scope, $http) {
        $scope.messages = <%- JSON.stringify(messages) %>;
        $scope.favoritePersonIdlist = <%- JSON.stringify(favoritePersonIdlist) %>;
        $scope.favoriteMessageList = <%- JSON.stringify(favoriteMessageList) %>;

        $scope.decodeHTML = function(html){
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
        $scope.userList = ['john'];
        console.log("Gonna subscribe to new messages!");
        io.socket.get('/messages/subscribe', function(data, jwr) {
            console.log("Subscribed to new messages");
            console.log(data);

            io.socket.on('userlist', function(newMessage) {
                alert('new user list!');
                console.log("Received updated users list");
                console.log(newMessage);
                $scope.messages.push(newMessage);
                $scope.$apply();
            });
            io.socket.on('add', function(newMessage) {
                console.log("Received new message");
                console.log(newMessage);
                if( _.contains($scope.favoritePersonIdlist, newMessage.authorId)) {
                    $scope.sendNotification(newMessage.id, newMessage.authorName, newMessage.message);
                    newMessage.isImportant = true;
                }
                $scope.messages.push(newMessage);
                $scope.$apply();
            });
        });

        $scope.sendNotification = function(messageId, title, message) {
                if (Notification.permission !== "granted")
                    Notification.requestPermission();
                else {
                    var notification = new Notification(title, {
                        icon: 'http://www.freeiconspng.com/uploads/money-icon-29.png',
                        body: $scope.decodeHTML(message),
                    });

                    notification.onclick = function () {
                        window.open("/notification/" + messageId);
                    };

                }
        }

        $scope.markFavorite = function(id, isFavorite){

            var message = _.find( $scope.messages, function(tmpMessage){ return tmpMessage.id == id });
            message.is_favorite=!message.is_favorite;

            //$scope.$apply();
            console.log("Marking as fav:"+isFavorite);
            $http({
                method: 'GET',
                url: '/favorite/'+id + '?v=' + isFavorite
            }).then(function successCallback(response) {
              console.log('good');
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                console.log('bad');
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }

    }]);
</script>

</body>
</html>
