<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-sanitize.js"></script>
    <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>JS Bin</title>

</head>


<body>

<style>

    .table-fixed thead {
        width: 97%;
    }
    .table-fixed tbody {
        height: 1230px;
        overflow-y: auto;
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }
</style>
<div class="" style="padding-left: 5%;">

    <div ng-app="mainApp" ng-controller="messageController">
        <h1>Op Chat</h1>

        Show messages: <input type="checkbox" ng-model="shouldSendNotification">
        Send SMS: <input type="checkbox" ng-model="smsEnabled" ng-click="toggleSmsSettings()">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li role="presentation"><a data-toggle="tab" href="#importantlist">MVP List</a></li>
            <li role="presentation"><a data-toggle="tab" href="#favoriteList">Favorites</a></li>
            <li role="presentation"><a data-toggle="tab" href="#stockMentions">Stock Mentions</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                ONLINE USERS
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">

                                    <li class="media" ng-repeat="user in userList">
                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-width:40px;max-height:40px;" src="https://optionsplayers.com{{user.Avatar}}">
                                                </a>
                                                <div class="media-body">
                                                    <h5> {{user.Name}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10" style="border-left: 1px dashed blue">

                        <div id="mainChatWindow" class="panel panel-info" style="height: 1000px;overflow:auto;">
                            <div class="panel-heading">
                                RECENT CHAT HISTORY
                            </div>
                            <div class="panel-body">
                                <ul class="media-list" ng-repeat="message in messages|orderBy:'createdAt':false" ng-class="(message.isImportant == true) ? 'success' : ''">

                                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img height="50px" width="50px" class="media-object img-circle " src="https://optionsplayers.com{{message.authorAvatarUrl}}" />
                                                </a>
                                                <div class="media-body">
                                                    <span ng-bind-html="message.message" style="font-size: 2em;"></span>
                                                    <br />
                                                    <medium class="text-muted">{{ message.authorName }} | {{ message.createdSince }} | <img height="20px" width="20px" src="/images/star.png" data="{{message.id}}" ng-click="markFavorite(message.id, true)" ng-hide="message.is_favorite">
                                                        <img height="20px" width="20px" src="/images/favoritesOn.png" data="{{message.id}}" ng-click="markFavorite(message.id, false)" ng-hide="!message.is_favorite">  </medium>
                                                    <hr />
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">SEND</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="importantlist" class="tab-pane fade">

                <div id="mainChatWindow" class="panel panel-info" style="height: 1000px;overflow:auto;">
                    <div class="panel-heading">
                        VIP LIST
                    </div>
                    <div class="panel-body">
                        <ul class="media-list" ng-repeat="message in messages| filter:{isImportant: 'true'}" ng-class="(message.isImportant == true) ? 'success' : ''">

                            <li class="media">

                                <div class="media-body">

                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img height="50px" width="50px" class="media-object img-circle " src="https://optionsplayers.com{{message.authorAvatarUrl}}" />
                                        </a>
                                        <div class="media-body">
                                            <span ng-bind-html="message.message" style="font-size: 2em;"></span>
                                            <br />
                                            <medium class="text-muted">{{ message.authorName }} | {{ message.createdSince }} | <img height="20px" width="20px" src="/images/star.png" data="{{message.id}}" ng-click="markFavorite(message.id, true)" ng-hide="message.is_favorite">
                                                <img height="20px" width="20px" src="/images/favoritesOn.png" data="{{message.id}}" ng-click="markFavorite(message.id, false)" ng-hide="!message.is_favorite">  </medium>
                                            <hr />
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="favoriteList" class="tab-pane fade">

                <div id="mainChatWindow" class="panel panel-info" style="height: 1000px;overflow:auto;">
                    <div class="panel-heading">
                       Favorited Messages
                    </div>
                    <div class="panel-body">
                        <ul class="media-list" ng-repeat="message in favoriteMessageList" ng-class="(message.isImportant == true) ? 'success' : ''">

                            <li class="media">

                                <div class="media-body">

                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img height="50px" width="50px" class="media-object img-circle " src="https://optionsplayers.com{{message.authorAvatarUrl}}" />
                                        </a>
                                        <div class="media-body">
                                            <span ng-bind-html="message.message" style="font-size: 2em;"></span>
                                            <br />
                                            <medium class="text-muted">{{ message.authorName }} | {{ message.createdSince }} | <img height="20px" width="20px" src="/images/star.png" data="{{message.id}}" ng-click="markFavorite(message.id, true)" ng-hide="message.is_favorite">
                                                <img height="20px" width="20px" src="/images/favoritesOn.png" data="{{message.id}}" ng-click="markFavorite(message.id, false)" ng-hide="!message.is_favorite">  </medium>
                                            <hr />
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="stockMentions" class="tab-pane fade">
                <div class="col-lg-10">
                    <table class="table table-striped">
                        <tr ng-repeat="ticker in stockMentionsList"  >
                            <td>
                                {{ ticker.symbol }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>


</div>

<script>

    $( document ).ready(function() {

        $("#mainChatWindow").animate({ scrollTop: $('#mainChatWindow').prop("scrollHeight")}, 200);
    });


    // request permission on page load
    document.addEventListener('DOMContentLoaded', function () {
        if (!Notification) {
            alert('Desktop notifications not available in your browser. Try Chromium.');
            return;
        }

        if (Notification.permission !== "granted")
            Notification.requestPermission();
    });


    var mainApp = angular.module("mainApp", ['ngSanitize']);

    mainApp.controller('messageController',['$scope', '$http', function($scope, $http) {
        $scope.messages = <%- JSON.stringify(messages) %>;
        $scope.userList = [];
        $scope.favoritePersonIdlist = <%- JSON.stringify(favoritePersonIdlist) %>;
        $scope.favoriteMessageList = <%- JSON.stringify(favoriteMessageList) %>;
        $scope.stockMentionsList = <%- JSON.stringify(stockMentionsList) %>;
        $scope.shouldSendNotification = true;
        $scope.smsEnabled = true;

        $scope.decodeHTML = function(html){
            console.log("Decoding html " + html);
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            console.log('decorder returning' + txt.value);
            return txt.value;
        }

        $scope.toggleSmsSettings = function(){

            $scope.smsEnabled = false;

            $http({
                method: 'GET',
                url: '/sms/toggle'
            }).then(function successCallback(response) {
                console.log('Finished toggling sms setting');
                console.log(response.data);
                $scope.smsEnabled = response.data.value;
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                alert('couldnt toggle sms settings');
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }

        console.log("Gonna subscribe to new messages!");
        io.socket.get('/messages/subscribe', function(data, jwr) {
            console.log("Subscribed to new messages");
            console.log(data);

            io.socket.on('userList', function(dataPayload) {
                console.log("Received updated users list");
                console.log(dataPayload);

                if((dataPayload.A && dataPayload.A[0])) {
                    console.log(dataPayload.A[0]);
                    $scope.userList = dataPayload.A[0];
                    $scope.$apply();
                }
            });
            io.socket.on('add', function(newMessage) {
                console.log("Received new message");
                console.log(newMessage);
                if( _.contains($scope.favoritePersonIdlist, newMessage.authorId)) {
                    if($scope.shouldSendNotification) {
                        $scope.sendNotification(newMessage.id, newMessage.authorName, newMessage.message);
                    }

                    newMessage.isImportant = true;
                }
                $scope.messages.push(newMessage);
                $scope.$apply();
                //$("#mainChatWindow").animate({ scrollTop: $('#mainChatWindow').prop("scrollHeight")}, 0);
            });

            io.socket.on('error', function(err){
                alert('Socket error');
                console.log(err);

            });
        });

        $scope.sendNotification = function(messageId, title, message) {
                if (Notification.permission !== "granted")
                    Notification.requestPermission();
                else {
                    var notification = new Notification(title, {
                        icon: 'http://www.freeiconspng.com/uploads/money-icon-29.png',
                        body: $scope.decodeHTML(message),
                    });

                    notification.onclick = function () {
                        window.open("/notification/" + messageId);
                    };

                }
        }

        $scope.markFavorite = function(id, isFavorite){

            var message = _.find( $scope.messages, function(tmpMessage){ return tmpMessage.id == id });
            message.is_favorite=!message.is_favorite;

            //$scope.$apply();
            console.log("Marking as fav:"+isFavorite);
            $http({
                method: 'GET',
                url: '/favorite/'+id + '?v=' + isFavorite
            }).then(function successCallback(response) {
              console.log('good');
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                console.log('bad');
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }

    }]);
</script>

</body>
</html>
